@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow: hidden;
    width: 100%;
  }
  body {
    height: 100%;
    position: fixed;
    margin: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .hide {
    @apply md:hidden  !important;
  }
  .close-icon {
    @apply text-red-500 text-4xl !important;
  }
  .popup-main-text {
    @apply text-zinc-900 !important;
  }
  .button-popup-chat {
    @apply text-red-600 !important;
  }
  .button-popup-cancel {
    @apply text-stone-600 !important;
  }
  .btn {
    @apply bg-red-500 hover:bg-red-600 !important;
  }
  .btn-sidebar {
    @apply text-sm text-amber-500 hover:text-red-600 !important;
  }
}
